In [4]:
import numpy as np
import pandas as pd

mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
        {'a': 100, 'b': 200, 'c': 300, 'd': 400},
        {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]

In [5]:
df = pd.DataFrame(mydict)

In [6]:
print(df)

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [13]:
df.loc[0]

a    1
b    2
c    3
d    4
Name: 0, dtype: int64

In [18]:
df.loc[1]

a    100
b    200
c    300
d    400
Name: 1, dtype: int64

In [19]:
df.iloc[1]

a    100
b    200
c    300
d    400
Name: 1, dtype: int64

In [21]:
df.loc[:]['a']

0       1
1     100
2    1000
Name: a, dtype: int64

In [25]:
df[df < 100]

     a    b    c    d
0  1.0  2.0  3.0  4.0
1  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN

In [26]:
df[df < 100] + df

     a    b    c    d
0  2.0  4.0  6.0  8.0
1  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN

In [27]:
df

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [30]:
df.iloc[2]

a    1000
b    2000
c    3000
d    4000
Name: 2, dtype: int64

In [1]:
def test_while():

    stop = False
    a = 0

    while stop == False:
        a += 1
        if a == 10000: stop = True


def test_for():

    a = 0
    for i in range(0,10001):
        a += 1

In [4]:
%timeit test_while()

319 µs ± 2.53 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [5]:
%timeit test_for()

235 µs ± 960 ns per loop (mean ± std. dev. of 7 runs, 1000 loops each)